:root,
html {
  font-family: sans-serif, monospace;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ded5ac;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
}

body {
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  margin: 0;
}

@media only screen and (max-width: 750px) {
  body {
    object-fit:cover;
    background-repeat: no-repeat;
    background-size:auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
   
  }

}